<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="20000"/>
		<add key="ImagePath" value="C:\Users\Admin\Desktop\serverimages"/>
		<add key="user_admin" value="admin"/>
		<add key="user_usuario" value="contra"/>
	</appSettings>
</configuration>