<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="20000"/>
		<add key="ClientIpAddress" value="127.00.0.1"/>
		<add key="ImagePath" value="C:\Users\admin\Desktop\clientimages"/>
	</appSettings>
</configuration>